.card {
    margin: 1rem;
    box-shadow: $shadow;
    border-radius: 0.5rem;

    .header-card {
        padding: 1rem;
        border-bottom: 1px solid lightgray;

        h1 {
            font-size: 1.1rem;
        }
    }

    .body-card {
        height: 260px;
        padding: 1rem;
    }

    .footer-card {
        padding: 1rem;
        @include flex(row, center, center)
    }

}