.card {
    margin: 1rem;
    box-shadow: $shadow;
    border-radius: 0.5rem;

    .header-card {
        padding: 1rem;
        border-bottom: 1px solid lightgray;
        @include flex(row, space-between, center);

        h1 {
            font-size: 1.1rem;
        }
    }

    .body-card {
        height: 260px;
        padding: 1rem;
        @include flex(column, space-between, flex-start);
        font-size: 0.8rem;

        .users {
            margin-bottom: 0.5rem;
            @include flex(row, flex-start, center);
        }

        .date {
            @include flex(row, flex-start, center);
        }

    }

    .footer-card {
        padding: 1rem;
        @include flex(row, center, center)
    }

}