.card {
    margin: 1rem;
    box-shadow: $shadow;
    border-radius: 0.5rem;

    .header-card {
        padding: 1rem;
        border-bottom: 1px solid lightgray;

        h1 {
            font-size: 1.1rem;
        }
    }

}